
<header role="banner">
  <h1>Infrastructure</h1>
  <ul class="utilities">
    <li class="users"><a>My Account</a></li>
    <li class="logout warn"><a href="">Log Out</a></li>
  </ul>
</header>

<nav role="navigation">
  <ul class="main">
    <li class="dashboard" data-toggle="popover" data-trigger="click" data-content="Click anywhere in the document to close this popover"><a >Dashboard</a></li>
    <li class="write"><a >Write Post</a></li>
    <li class="edit"><a  ng-click='toggleModal()'>Infrastructure Vulnerabilities</a></li>
    <li class="comments"><a  ng-click='toggleModalConfirm()' >Comments</a></li>
    <li class="users"><a >Manage Users</a></li>
  </ul>
</nav>
<main role="main">
  <section class="panel important">
    <h2>Welcome to Your Dashboard </h2>
    <ul>
      <li>Important panel that will always be really wide Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Vestibulum auctor dapibus neque.</li>
    </ul>
  </section>
  <section class="panel">
    <h2>Posts</h2>
    <ul>
      <li><b>2458 </b>Published Posts</li>
      <li><b>18</b> Drafts.</li>
      <li>Most popular post: <b>This is a post title</b>.</li>
    </ul>
  </section>
  <section class="panel">
    <h2>Chart</h2>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Vestibulum auctor dapibus neque.</li>
    </ul>
  </section>
  <section class="panel important">
    <h2>Write a post</h2>
    <form action="#">
      <div class="twothirds">
        <label for="name">Text Input:</label>
        <input type="text" name="name" id="name" placeholder="John Smith" />

        <label for="textarea">Textarea:</label>
        <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>

      </div>
      <div class="onethird">
        <legend>Radio Button Choice</legend>

        <label for="radio-choice-1">
          <input type="radio" name="radio-choice" id="radio-choice-1" value="choice-1" /> Choice 1
        </label>

        <label for="radio-choice-2">
          <input type="radio" name="radio-choice" id="radio-choice-2" value="choice-2" /> Choice 2
        </label>


        <label for="select-choice">Select Dropdown Choice:</label>
        <select name="select-choice" id="select-choice">
          <option value="Choice 1">Choice 1</option>
          <option value="Choice 2">Choice 2</option>
          <option value="Choice 3">Choice 3</option>
        </select>


        <div>
          <label for="checkbox">
            <input type="checkbox" name="checkbox" id="checkbox" /> Checkbox
          </label>
        </div>

        <div>
          <input type="submit" value="Submit" />
        </div>
      </div>
    </form>
  </section>
  <section class="panel">
    <h2>feedback</h2>
    <div class="feedback">This is neutral feedback Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, praesentium. Libero perspiciatis quis aliquid iste quam dignissimos, accusamus temporibus ullam voluptatum, tempora pariatur, similique molestias blanditiis at sunt earum neque.</div>
    <div class="feedback error">This is warning feedback
<ul>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
  <li>Aliquam tincidunt mauris eu risus.</li>
  <li>Vestibulum auctor dapibus neque.</li>
</ul>  </div>
    <div class="feedback success">This is positive feedback</div>

  </section>
  <section class="panel ">
    <h2>Table</h2>
    <table>
      <tr>
        <th>Username</th>
        <th>Posts</th>
        <th>comments</th>
        <th>date</th>
      </tr>
      <tr>
        <td>Pete</td>
        <td>4</td>
        <td>7</td>
        <td>Oct 10, 2015</td>

      </tr>
      <tr>
        <td>Mary</td>
        <td>5769</td>
        <td>2517</td>
        <td>Jan 1, 2014</td>
      </tr>
    </table>
  </section>

</main>

<footer role="contentinfo">Demo Site</footer>
<modal-dialog show='modalShown' width='900px'>
  
<div class="infrastructureModel">
  <div class="row">
    <h5>Infrastructure Vulnerability Details</h5>
   
  </div>
  <div class="row" style="padding-top:25px">
    <div class="col-md-2">
      <span class="impact">Impact</span>
      <br><br>
      <span class="badge badge-warning" >High</span>
    </div>
    <div class="col-md-6">
        <span class="impact">Threat</span>
        <br><br>
        <span style="float: left" class="badge badge-danger">UNAUTHORIZED ACCESS AND DATA THEFT</span>
        <div class="tooltipDiv" style="cursor:pointer" style="float: left; padding: .25em .4em;
        font-size: .65em;
        font-weight: 700;border-radius: .25rem; background: grey; color: #fff;">i
            <span class="tooltiptext">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, fuga.</span>
        </div>
     
      </div>
      <div class="col-md-4 risk">
          <!-- <span>Likelihood of occurence</span> -->
          <span class="DropDownTitle" >Likelihood of occurence</span>
          <div class="wrap-drop" id="noble-gases">
            <span>High</span>
            <ul class="drop">
                <li class="selected"><a class="riskTip" >High</a>
                  <span class="tooltiptext2" >Adversary is almost certain to initiate the threat event.</span></li>
                <li><a class="riskTip">Very High</a>
                  <span class="tooltiptext2" >very high</span></li>
                <li><a class="riskTip">Moderate</a>
                  <span class="tooltiptext2" >Adversary is almost certain to initiate the threat event.</span></li>
                <li><a class="riskTip">Low</a>
                  <span class="tooltiptext2" >Low</span></li>
                <li><a class="riskTip">Very Low</a>
                  <span class="tooltiptext2" >Very Low</span></li>
          
            </ul>
        </div>
         
          <!-- <select ng-change="likelihoodFunc()" ng-model="likelihood" class="selectpicker form-control" id="mySelect" style="width: 85%;">
              <option id="op1" title="The Risk is&#013; High" onMouseOver="dispalyAltText()">High</option>
              <option title="The Risk is&#013; Very High"  onMouseOver="dispalyAltText()">Very High</option>
              <option title="The Risk is&#013; Moderate"  onMouseOver="dispalyAltText()">Moderate</option>
              <option title="The Risk is&#013; Low"  onMouseOver="dispalyAltText()">Low</option>
              <option title="The Risk is&#013; Very Low">Very Low</option>
            </select> -->
            
      </div>
  </div>
  <div class="row">
      <form style="    width: 93%;
      padding-left: 16px;">
      
      <div class="form-group">
          <label for="exampleFormControlTextarea1" class="nginx">nginx 1.9.5 < 1.15.1/1.17.x</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" style="font-size: 12px;">
              GET /index.php?
              <?xml version="1.0" encoding="UTF-8"?>
              <!-- XML example cannot be generated; root element name is undefined -->
          </textarea>
        </div>
          <div class="form-group">
            <label for="exampleFormControlInput1" class="sloution">Solution</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" style="font-size: 12px;" placeholder="Upgrade to nginx version 1.16.1/1.17.3 or later">
          </div>
      
        </form>

  </div>
  <div class="row">
      <form style="width: 93%;
      padding-left: 16px;">
      
      <div class="form-group">
          <label for="exampleFormControlTextarea1" class="seeAlso">See also</label>
          <ul class="list-unstyled">
              <li>https://petstore.swagger.io</li>
              <li>https://getbootstrap.com/
              </li>
              <li>https://bootsnipp.com</li>        
          </ul>
        </div>
         
        </form>

  </div>
  
  <div class="row">
      <button type="button" class="btn btn-secondary" style="left: 40%;
      position: relative;background: #ededed;
    border: none;
    color: #676767;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    padding: 20px 33px;    margin-bottom: 25px;" ng-click='toggleModalConfirm()'>CREATE TASK</button>
  </div>
  
  

</div>
</modal-dialog>

<modal-dialog show=modalShownConfirm class="disclaimer" width='750px' >
  <!-- <div class="modal-dialog modal-lg">
    <div class="modal-content"> -->
      <h5 class="modal-title">Disclaimer</h5>
    
      <div class="modal-body">
        <p class="dummy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae modi ullam voluptatem eos cum distinctio sapiente laboriosam officiis sit natus?</p>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea2" placeholder="We have Implemented...." rows="3"></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-light btn-outline-secondary mr-2">Save Task</button>
        <button type="button" class="btn btn-light btn-outline-secondary" ng-click="backFunc()">Cancel</button>
      </div>
      <div ng-if="modalShownConfirm" id="penTest">
        <div  id="desc">
         
          <h6 class="text1">The Vulnerabilities are exploitable with: <span><img src="../images/Bitmap.png" class="img-valign"></span></h6> 
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid veniam animi voluptatibus, libero vitae tempora, optio </p>
          <button class="btn btn-primary float-right">Request Quote</button>
        </div>
        <h4 style="writing-mode: vertical-rl;" onclick="document.querySelector('#desc').classList.toggle('show')">PENTRATION TEST</h4>
    </div>
  </modal-dialog>

<script>
$(function(){
// Inspiration: https://tympanus.net/codrops/2012/10/04/custom-drop-down-list-styling/

function DropDown(el) {
    this.dd = el;
    this.placeholder = this.dd.children('span');
    this.opts = this.dd.find('ul.drop li');
    this.val = '';
    this.index = -1;
    this.initEvents();
}

DropDown.prototype = {
    initEvents: function () {
        var obj = this;
        obj.dd.on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).toggleClass('active');
        });
        obj.opts.on('click', function () {
            var opt = $(this);
            obj.val = opt.find('a').text();
            obj.index = opt.index();
            obj.placeholder.text(obj.val);
            opt.siblings().removeClass('selected');
            opt.filter(':contains("' + obj.val + '")').addClass('selected');
        }).change();
    },
    getValue: function () {
        return this.val;
    },
    getIndex: function () {
        return this.index;
    }
};

$(function () {
    // create new variable for each menu
    var dd1 = new DropDown($('#noble-gases'));
    // var dd2 = new DropDown($('#other-gases'));
    $(document).click(function () {
        // close menu on document click
        $('.wrap-drop').removeClass('active');
    });
});

})
</script>
<script>
  $(function(){
    $('a.riskTip').hover(function(){
      $(this).next().css('visibility', 'visible');
    },function(){
      $(this).next().css('visibility', 'hidden');
    })
  
  
   })
</script>